<header class="navbar">

    <div class="logo">
        OS Simulator
    </div>

    <nav>

        <a href="/">
            Home
        </a>

        <a href="/about">
            About
        </a>

        <a href="/cpu-scheduling">
            CPU Scheduling
        </a>

        <a href="/memory-management">
            Memory Management
        </a>

        <a href="/virtual-memory">
            Virtual Memory
        </a>

        <a href="/disk-management">
            Disk Scheduling
        </a>

    </nav>

</header>