<!DOCTYPE html>
<html>
<head>
    <title>OS Finals</title>

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/header.css') }}">

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

{% include 'header.html' %}

    <div class="container">
        
    <h1 class="title">ALGORACISM</h1>

    <p class="subtitle">
        An Operating System project led by the most racist individual known to mankind
    </p>

    <div class="button-container">

        <a href="/cpu-scheduling" class="module-btn">
            CPU SCHEDULING
        </a>

        <!-- Future Button -->
        <a href="#" class="module-btn">
            MEMORY MANAGEMENT
        </a>

        <!-- Future Button -->
        <a href="#" class="module-btn">
            VIRTUAL MEMORY
        </a>

        <!-- Future Button -->
        <a href="#" class="module-btn">
            DISK MANAGEMENT
        </a>

    </div>

</body>
</html>