<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Virtual Memory Simulator</title>

    <link rel="stylesheet"href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet"href="{{ url_for('static', filename='css/virtual_memory.css') }}">

</head>  
<body>

{% include 'header.html' %}

<div class="container">

    <a href="/" class="back-btn">
        ← Back to Home
    </a>
    <h1>Memory Allocation Simulator</h1>

    <form method="POST">

        <label>Memory Holes (comma separated)</label>

        <input
            type="text"
            name="blocks"
            placeholder="100,200,300"
            required>

        <label>Incoming Job Size (K)</label>

        <input
            type="number"
            name="job_size"
            required>

        <label>Allocation Algorithm</label>

        <select name="algorithm">

            <option value="FIRST">
                First Fit
            </option>

            <option value="BEST">
                Best Fit
            </option>

            <option value="WORST">
                Worst Fit
            </option>

        </select>

        <button type="submit">
            Allocate Memory
        </button>

    </form>

    {% if memory_blocks %}

    <div class="results">

    <h2>Memory Layout After Allocation</h2>

    {% for block in memory_map %}

        {% if block.status == "JOB" %}

            <div class="memory job">
                {{ block.size }}K [JOB]
            </div>

        {% else %}

            <div class="memory free">
                {{ block.size }}K [FREE]
            </div>

        {% endif %}

    {% endfor %}

    <h2>{{ allocation_result }}</h2>

</div>
        
    {% endif %}

    <hr>

    <h2>RAM Visualization</h2>

    <div class="ram">

    <div class="segment os">
        OS
    </div>

    {% for block in memory_map %}

        {% if block.status == "JOB" %}

            <div class="segment process">
                {{ block.size }}K JOB
            </div>

        {% else %}

            <div class="segment free">
                {{ block.size }}K FREE
            </div>

        {% endif %}

    {% endfor %}

</div>

        <div class="segment process">
            Process C
        </div>

    </div>

</div>
</body>
</html>